<?eclipse version="3.4"?>

<plugin>   
   <extension point="org.eclipse.ui.startup">
     <startup class="com.questoid.sqlitebrowser.SqliteBrowserPluginStartup"/>
   </extension>
   
   <extension point="org.eclipse.ui.views">
        <view
              allowMultiple="false"
              class="com.questoid.sqlitebrowser.view.SqliteBrowserView"
              icon="icons\sqlitebrowser.gif"
              id="com.questoid.sqlitebrowser.view.sqliteBrowserView"
              name="SQLite Browser"/>
   </extension>
</plugin>
